<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitLabNHibernate" value="https://gitlab.com/api/v4/projects/85256055/packages/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitLabNHibernate>
      <add key="Username" value="gitlab-ci-token" />
      <add key="ClearTextPassword" value="%CI_JOB_TOKEN%" />
    </GitLabNHibernate>
  </packageSourceCredentials>
</configuration>